#foo
	p: a(href='/generate/words/300/c839d6/Helvetica') Words, 300px, pink, Helvetica
	p: a(href='/generate?text=words&size=300&color=c839d6&font=Helvetica') Words, 300px, pink, Helvetica
	p: a(href='/generate?text=words&size=180&color=00FF00&font=Times') Words, 180, Lime, Times