!!! 5
html(lang='en')
	head
		title OCR Ocular Character Recognition
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		link(href='/stylesheets/style.css', rel='stylesheet')
	body
		#wrapper
			#header
				img(src="/logo4.png", width="940px", height="252px")
			#content!= body
			#footer